<nav class="panel container">
  <div class="recepcion">
    <ul class="nav flex-column">
      <li class="nav-item my-2 mb-2">
        <img class="nav-link active" href="#" src="../../../assets/img/logo-2.png">
      </li>
      <hr class="ml-1 mr-1" style="background-color: white;">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <span style="font-size: 1.1rem" class="text-light">Recepcion</span>
        </div>
      </div>
      <hr class="ml-1 mr-1" style="background-color: white;">
      <!-- Lista -->
      <li class="nav-item">
        <div class="container pl-0 pr-0">
          <div class="row justify-content-center">
            <a class="nav-link" href="#">
              <p class="text-light">Reserva de Tutorias</p>
            </a>
          </div>
        </div>
      </li>
      <!--  -->
      <li class="nav-item">
        <div class="container">
          <div class="row justify-content-center">
            <a class="nav-link" href="#">
              <p class="text-light">Registro de Alumno</p>
            </a>
          </div>
        </div>
      </li>
      <!--  -->
      <li class="nav-item">
        <div class="container">
          <div class="row justify-content-center">
            <a class="nav-link" href="#">
              <p class="text-light">Green Cards</p>
            </a>
          </div>
        </div>
      </li>
      <!-- -->
      <li class="nav-item">
        <div class="container">
          <div class="row justify-content-center">
            <a class="nav-link" href="#">
              <p class="text-light">Record de Produccion</p>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
