<nav class="panel container d-flex flex-column justify-content-between" >
 
<div>
    <ul class="nav flex-column">
        <li class="nav-item my-">
          <img class="nav-link active" href="#" src="../../../assets/img/logo-2.png">
        </li>
      </ul>
    
    
      <div class="recepcion" *ngIf="true">
        <ul class="nav flex-column align-items-center">
          <div class="container pl-0 pr-0">
              <hr style="background-color: white; margin: 15px -15px;">
            <div class="row justify-content-center align-items-center">
              <span style="font-size: 1.1rem" class="text-light">Recepción</span>
            </div>
            <hr style="background-color: white; margin: 15px -15px;">
          </div>
          <!-- Lista -->
         
           <li class="nav-item">
            <div class="container">
              <div class="row justify-content-center" routerLinkActive="active">
                <a style="font-size: 0.9rem; color: white;" class="nav-link" href="#" routerLink="/reserva"  >
                  Reserva de Tutorias
                </a>
              </div>
            </div>
          </li>
          
         
          <!--  -->
          <li class="nav-item">
            <div class="container">
              <div class="row justify-content-center" routerLinkActive="active">
                <a style="font-size: 0.9rem; color: white;" class="nav-link" href="#" routerLink="/registro">
                  Registro de Alumno
                </a>
              </div>
            </div>
          </li>
          <!--  -->
          <li class="nav-item">
            <div class="container">
              <div class="row justify-content-center" routerLinkActive="active">
                <a style="font-size: 0.9rem;  color: white;" class="nav-link" href="#" routerLink="/historial">
                  Green Cards
                </a>
              </div>
            </div>
          </li>
          <!-- -->
          <li class="nav-item">
            <div class="container">
              <div class="row justify-content-center" routerLinkActive="active">
                <a style="font-size: 0.9rem;  color: white;"  class="nav-link" href="#" routerLink="/record">
                  Record de Produccion
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    
    
      
    
    
      <!-- Seccion Administrador -->
      <div class="administracion" *ngIf="true">
          <ul class="nav flex-column align-items-center">
            <div class="container pl-0 pr-0">
              <hr style="background-color: white; margin: 15px -15px;">
              <div class="row justify-content-center align-items-center"> 
                <span style="font-size: 1.1rem ; color: white;" class="text-light">Administración</span>
              </div>
              <hr style="background-color: white; margin: 15px -15px;">
            </div>
            <!-- Lista -->
            <li class="nav-item">
              <div class="container">
                <div class="row justify-content-center" routerLinkActive="active">
                  <a style="font-size: 0.9rem;  color: white;" class="nav-link" href="#" routerLink="/estado-cuenta">
                    Estado de Cuenta
                  </a>
                </div>
              </div>
            </li>
            <!--  -->
            <li class="nav-item">
              <div class="container">
                <div class="row justify-content-center" routerLinkActive="active">
                  <a style="font-size: 0.9rem;  color: white;"class="nav-link" href="#" routerLink="/clientes">
                    Lista de Clientes
                  </a>
                </div>
              </div>
            </li>
            <!--  -->
            <li class="nav-item">
              <div class="container">
                <div class="row justify-content-center" routerLinkActive="active">
                  <a style="font-size: 0.9rem;  color: white;" class="nav-link" href="#" routerLink="/pagos-pendientes">
                    Pagos Pendientes
                  </a>
                </div>
              </div>
            </li>
            <!-- -->
            <li class="nav-item">
              <div class="container">
                <div class="row justify-content-center" routerLinkActive="active">
                  <a style="font-size: 0.9rem;  color: white;" class="nav-link" href="#" routerLink="/pagos-atrasados">
                     Pagos Atrasados
                     </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
    
</div>
<div>
  <!--boton salir -->

   <div class = "img" style="position: relative; padding-top: 1vh;">
     <a href = "#" style="text-decoration: none; font-size: 0.99rem; color: white ">
           Salir
          <i class="fas fa-sign-out-alt"></i>
     </a>

    </div>

</div>

</nav>


